


header {
  background: #444;
  height: 100px;
}
nav {
  width: 960px;
  margin: 0 auto;
}
nav img {
  float: left;
  margin-top: 15px;
  margin-right: 30px;
}
header ul li {
  display: inline-block;
   margin-top: 50px;
  margin-right: 85px;
  text-decoration: none;
  color: darkgray;
}

main {
  width: 960px;
  margin: 30 auto;
margin-bottom: 30px;
}

.img2 {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  }
 .image3 {
  
  display: flex;
  justify-content: center;
 }
 .image3 img {
  float:left;
  margin-right: 30px;
  margin-left: 0;
 }
 
 #lastImg {
  margin-right: 0;
 }
 
 section{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 430px;
 }
 
 section img {
  float: left;
  width: 50%;

 }
 
 section div {
  padding-left: 30px;
  margin-bottom: 30px;
  width: 50%;
  float: right;
  width: 450px;
  height: 400px;;
 }
 
 .h1 p {
  height: 320px;
 float: right;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
 }
 h2 {
  font-size: 20px;
  margin-bottom: 10px;
 }


 button {
  border: none;
  padding: 5px 25px;
  background: rgb(5, 5, 5);
  color: rgb(99, 95, 95);
  border-radius: 3px;
  font-size: 22px;
  margin-top: 10px;
 
 
 }