


header {
  background: #444;
  height: 100px;
}
nav {
  width: 960px;
  margin: 0 auto;
}
nav img {
  float: left;
  margin-top: 15px;
  margin-right: 30px;
}
nav li {
  float: left;
  margin-top: 40px;
  margin-right: 40px;
  color: #bbbbbb;
}
main {
  width: 960px;
  margin: 0 auto;
}
.img2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
 .image3{
  
    float:left;
    margin-right: 30px ;
    margin-left: 0;
    box-sizing: border-box;
   
}

#last-img{
  margin: 0 0 0 0;

}

.oneimage{
      float: left;
      margin-top: 30px;
      margin-bottom: 30px;
}
.oneimage {
  float: left;
  margin-right: 30px;
  width: 50%;
}

.paragraph {
  height: 300px;
  float: left;
  margin-bottom: 20;
}
.h1 {
  font-size: xx-large;
  margin-bottom: 15px;
}



body footer {
  clear: left;
  height: 100px;
  background: #444;

}


